body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  /* Agrega un espacio entre el formulario y la lista */
}

li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f2f2f2;
}

button {
  border: none;
  outline: none;
  color: white;
  padding: 12px;
  margin: 12px;
  background-color: #5c95d3;
  border-radius: 20px;
  width: 120px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: #021F70;
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: #021F70;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h1 {
  color: white;
  font-size: 25px;
  margin-left: 20px;
}