/*body {*/
/*  font-family: Arial, sans-serif;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/

/*h1 {*/
/*  text-align: center;*/
/*}*/

/*.container {*/
/*  max-width: 600px;*/
/*  margin: 0 auto;*/
/*  padding: 20px;*/
/*  text-align: center;*/
/*}*/

/*ul {*/
/*  list-style-type: none;*/
/*  padding: 0;*/
/*  margin-top: 20px; !* Agrega un espacio entre el formulario y la lista *!*/
/*}*/

/*li {*/
/*  margin-bottom: 10px;*/
/*  padding: 10px;*/
/*  background-color: #f2f2f2;*/
/*}*/

/*button {*/
/*  margin-left: 10px;*/
/*  padding: 5px 10px;*/
/*  background-color: #4CAF50;*/
/*  color: white;*/
/*  border: none;*/
/*  cursor: pointer;*/
/*}*/

/*button:hover {*/
/*  background-color: #45a049;*/
/*}*/

/*canvas {*/
/*  display: block;*/
/*  margin: 10px auto;*/
/*  max-width: 400px;*/
/*  max-height: 400px;*/
/*}*/

/*!*.container {*!*/
/*!*  display: flex;*!*/
/*!*}*!*/

/*!*canvas {*!*/
/*!*  margin: 10px;*!*/
/*!*  max-width: 400px;*!*/
/*!*  max-height: 400px;*!*/
/*!*}*!*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
}

.left-section {
  flex: 1;
  text-align: center;
}

.right-section {
  flex: 1;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px; /* Agrega un espacio entre el formulario y la lista */
}

li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f2f2f2;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

canvas {
  display: block;
  margin: 10px auto;
  max-width: 400px;
  max-height: 400px;
}

#pie-chart-container,
#bar-chart-container {
  margin-top: 20px;
}
