.App {
  text-align: center;
  height: 100%;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.homepage {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.content {
  flex: 1;
}

.bottom-bar {
  background-color: #ed6e6e;
  padding: 10px;
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.login-form {
  width: 400px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #d1f7e2;
  /* Fondo de color verde claro */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup-form {
  width: 400px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #d1e4f7;
  /* Fondo de color verde claro */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup-form input {
  padding: 10px;
  margin-bottom: 10px;
  padding-right: 0px;
  padding-left: 3px;

}



.login-form h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  margin-top: 20px;
}

.form-group-label {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-right: 0px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.app-bar {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
}

.logo {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.app-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-container button {
  margin: 0 60px;
  padding: 10px 20px;
  font-size: 16px;
}