.navbar {
	width: 100%;
	height: 70px;
	background-color: #021F70;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar h1 {
	color: white;
	font-size: 25px;
	margin-left: 20px;
}

.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
}

.green_btn {
	border: none;
	outline: none;
	color: white;
	padding: 12px;
	margin: 12px;
	background-color: #5c95d3;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;

}

.center_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}